---
import {Icon} from 'astro-icon/components';

import Layout from '@layouts/Layout.astro';

import Action from '@components/Action.astro';
import BlobsBackground from '@components/BlobsBackground.astro';
import {HELLO_WORDMARK_ID} from '@constants';
---

<Layout id="Page404" title="Page does not exist | Hello Hardy Farms">
  <div class="Page">
    <BlobsBackground noise />

    <main>
      <section id="Section404" class="Section404" data-section="error404">
        <div id={HELLO_WORDMARK_ID} class="WordmarkWrapper">
          <Icon name="BrandWordmark" width={undefined} height={undefined} />
        </div>

        <h1 class="text-head text-head--1 visually-hidden">
          Hello Hardy Farms
        </h1>

        <h2 class="text-head text-head--2 Title">Error 404</h2>

        <div class="Cta">
          <Action id="ReturnHome" url="/" ariaLabel="Return to home page"
            >Return home ➞</Action
          >
        </div>
      </section>
    </main>
  </div>
</Layout>

<style>
  @import '@styles/shared.css';

  .Page {
    /* Design System Overrides */
    --action-color-primary: var(--color-honeydew);
    --action-color-secondary: var(--color-myrtle);

    /* Page loading */
    transition: opacity var(--speed-slower) var(--ease);

    @starting-style {
      opacity: 0;
    }
  }

  .Section404 {
    display: grid;
    align-content: center;
    justify-items: center;
    gap: 4rem;
    padding: var(--page-padding-x);
    min-height: 100vh;
    text-align: center;
    color: var(--color-honeydew);
  }

  .WordmarkWrapper {
    width: 24rem;
    color: var(--color-myrtle);

    @media (--min-tablet) {
      width: 42rem;
    }

    @media (--min-wide) {
      width: 70rem;
    }
  }
</style>
