---
import {Icon} from 'astro-icon/components';

import Action from '@components/Action.astro';
import Squiggle from '@components/Squiggle.astro';
import {HELLO_WORDMARK_ID} from '@constants';
---

<header id="SectionHello" class="SectionHello" data-section="hello">
  <div class="Interior">
    <div id={HELLO_WORDMARK_ID} class="WordmarkWrapper">
      <Icon name="BrandWordmark" width={undefined} height={undefined} />
    </div>

    <h1 class="text-head text-head--1 visually-hidden">Hello Hardy Farms</h1>

    <div class="SubtitleWrapper">
      <p class="text-subhead Subtitle mobile">
        <span class="text-block">Hyper local plants</span>
        <span class="text-block">and produce from</span>
        <span class="text-block">Vancouver Island</span>
      </p>

      <p class="text-subhead Subtitle desktop">
        <span class="text-block">Hyper local plants and produce</span>
        <span class="text-block">from Vancouver Island</span>
      </p>

      <div class="SquiggleWrapper">
        <Squiggle id="HelloSquiggle" />
      </div>
    </div>

    <Action
      id="HeaderActionRequest"
      aria-label="Email Farmer Carson and request local delivery"
      >Request local delivery ➞</Action
    >
  </div>
</header>

<style>
  @import '@styles/shared.css';

  .SectionHello {
    --padding-top: 8rem;
    --padding-bottom: 4rem;

    z-index: var(--layer-4);
    position: relative;
    padding-top: var(--padding-top);
    padding-bottom: calc(var(--padding-bottom) + var(--farm-wave-height));
    padding-left: var(--page-padding-x);
    padding-right: var(--page-padding-x);
    text-align: center;
    color: var(--color-myrtle);

    @media (--min-tablet) {
      --padding-top: 14rem;
      --padding-bottom: 6.4rem;
    }

    @media (--min-desktop) {
      --padding-top: 18rem;
      padding-bottom: calc(var(--padding-bottom) + var(--farm-blob-offset-y));
    }

    @media (--min-wide) {
      --padding-top: 22rem;
      --padding-bottom: 10rem;
      /* Design system overrides */
      --action-font-size: 2.4rem;
    }

    @media (--min-ultrawide) {
      --padding-top: 26rem;
      --padding-bottom: 14rem;
    }
  }

  .Interior {
    display: grid;
    justify-items: center;
    gap: 4rem;
    margin: 0 auto;
  }

  .WordmarkWrapper {
    width: 24rem;

    @media (--min-tablet) {
      width: 42rem;
    }

    @media (--min-wide) {
      width: 70rem;
    }
  }

  .SubtitleWrapper {
    display: grid;
    gap: 1rem;
    justify-items: center;
  }

  .Subtitle {
    font-weight: var(--outfit-light);

    &.mobile {
      @media (--min-tablet) {
        display: none;
      }
    }

    &.desktop {
      @media (--before-tablet) {
        display: none;
      }
    }
  }

  .SquiggleWrapper {
    width: 20rem;

    @media (--min-tablet) {
      width: 26rem;
    }

    @media (--min-wide) {
      width: 38.8rem;
    }
  }
</style>
